@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1128px;
  margin: 0 auto;
  background-color: #fdfdfd;
  overflow-x: hidden;
}
/* header design */
.logo {
  display: flex;
  justify-content: space-between;
}

.common {
  margin-top: 30px;
  max-width: 1128px;
}
.hero {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  margin-top: 45px;
  background-color: #feeae9;
}
.description {
  max-width: 560px;
  margin-bottom: 10px;
}
.description h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 56px;
}
.description h3 {
  font-size: 40px;
  color: #ff136f;
}
.pink-btn {
  background-color: #ff136f;
  color: white;
  border: none;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.hero-image {
  max-width: 400px;
}
/* main design */
.categories {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 98px;
}
.all-category h2 {
  margin-top: 50px;
}
.Watch {
  max-width: 350px;
  width: 100%;
  background-color: #ff9c35;
  color: white;
  border-radius: 5px;
  padding: 15px;
}
.Bag {
  max-width: 350px;
  width: 100%;
  background-color: #ff136f;
  color: white;
  border-radius: 5px;
  padding: 15px;
}
.Shoes {
  max-width: 350px;
  width: 100%;
  background-color: #3f07f8;
  color: white;
  border-radius: 5px;
  padding: 15px;
}
/* shoes card design */
.shoes-card,
.backpack-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* justify-content: center; */
}
.cards {
  max-width: 360px;
  padding: 24px;
  font-size: 24px;
  font-weight: 500;
  color: #1f1f1f;
  text-align: center;
  margin-bottom: 16px;
  box-shadow: 0 5px 5px #cccbcb;
  border-radius: 20px;
  border: 1px solid #6d6c6c;
}

/* footer design */
.footer {
  margin-top: 50px;
  padding: 140px 240px;
  background-color: #fff2f1;
  text-align: center;
  margin-bottom: 70px;
}
.footer h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
#email-field {
  max-width: 480px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding: 20px;
  color: #faf9f9;
  border: none;
}
.submit-btn {
  background-color: #ff136f;
  padding: 12px 30px;
  border: none;
  border-radius: 0 5px 5px 0;
  height: 50px;
  color: white;
  font-size: 1rem;
}

/* shared design/ common design */

.btn {
  background-color: black;
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}
.p-text {
  font-size: 16px;
  font-weight: 400;
  color: #4e4e4e;
  margin-bottom: 16px;
}
.titles {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
}
.display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Laptop View */
@media screen and (max-width: 1200px) {
  body {
    max-width: 1000px;
  }
  .cards {
    max-width: 320px;
  }
  .footer {
    padding: 120px 20px;
  }
}

/* Tablet View */
@media screen and (max-width: 992px) {
  body {
    max-width: 720px;
  }

  .logo {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .hero {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin-top: 45px;
  }

  .description h1 {
    font-size: 30px;
  }
  .description h3 {
    font-size: 30px;
  }
  .p-text {
    font-size: 12px;
  }
  .pink-btn {
    padding: 10px 16px;
  }
  .categories {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .shoes-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    padding: 50px 80px;
  }
  .submit-btn {
    padding: 8px 10px;
    height: 50px;
  }
}

/* Mobile View */
@media screen and (max-width: 576px) {
  body {
    max-width: 100%;
    padding: 0 15px;
  }

  .logo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .pink-btn {
    margin-top: 15px;
  }
  .categories {
    flex-direction: column;
    gap: 20px;
  }
  .Watch,
  .Bag,
  .Shoes {
    max-width: 100%;
  }
  .shoes-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards {
    max-width: 100%;
  }
  #email-field{
    max-width: 100px;
    font-size: 14px;
    padding: 10px 16px;
  }
  .submit-btn{
    padding: 0 12px;
    font-size: 14px;
  }
}
